* {
    font-family: 'GAME_FONT';
    font-weight: bolder;
    letter-spacing: 0.2vh;
    text-align: center;
}

body,
html {
    background-color: white;
    height: 100%;
    margin: 0;
    background: #333;
    overflow: hidden;
}

#background {
    background-image: url("images/background/bg.png");
    top: 0;
    min-height: 100%;
    min-width: 100%;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    z-index: 0;
}

button {
    border: none;
    background-color: lightgray;
    border-bottom: 0.5vh solid #28223d;
    font-size: 2.5vh;
    transition: all .1s;
    margin-right: 1vh;
}

button:hover {
    background-color: rgb(183, 183, 183);
    box-shadow: 0vh 0vh 0.25vh rgba(0, 0, 1, 1);
    cursor: pointer;
    transform: scale(1.075);
}

h1 {
    font-size: 5vh;
}

#title {
    padding-top: 1.5vh;
}

#prompt {
    background-color: #493f6d;
    border: 0.5vh solid white;
    bottom: 8.5vh;
    outline: 1.5vh solid #493f6d;
    color: white;
    display: table-cell;
    padding-top: 1vh;
    padding-bottom: 2.5vh;
    margin-left: 35vh;
    margin-right: 35vh;
    text-shadow: #28223d 0.15vh 0.15vh;
    opacity: 1;
    position: fixed;
    transform: translateY(55vh) scale(1);
    transition: all 0.5s;
    visibility: visible;
    z-index: 100;
}

#prompt h1 {
    font-size: 6.5vh;
}

#prompt p {
    font-size: 3.5vh;
}

#footer {
    bottom: 0;
    color: #28223d;
    display: block;
    font-size: 2vh;
    text-align: center;
    position: fixed;
    transform: translate(calc(50vw - 50%));
    line-height: 0.2vh;
    z-index: 2;
}

#footer a {
    color: #28223d;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#flash {
    opacity: 0.8;
    display: none;
    background-color: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 900;
}

#scores {
    bottom: 0;
    display: none;
    position: absolute;
}

#highscore, #currScore {
    bottom: 0.5vh;
    color: rgb(40, 35, 60);
    display: block;
    font-size: 3vh;
    line-height: 4vh;
    text-align: center;
    left: 120vh;
    transition: all 0.5s;
    right: 120vh;
    position: fixed;
    z-index: 0;
}

#highscore {
    left: 20vh;
}

#currScore {
    right: 20vh;
}

#hearts {
    bottom: -79.5vh;
    text-align: center;
    display: inline-block;
    position: relative;
}

#hearts img {
    transition: transform 0.5s;
    transform: scale(0);
    width: 5vh;
    visibility: visible;
}

#gameOver {
    transform: scale(0);
    transition: all 1s;
    visibility: hidden;
}

#gameOver h1 {
    color: white;
    font-size: 25vh;
    padding-bottom: 0;
    margin-bottom: 0;
    text-shadow: #28223d 0.7vh 0.7vh;

}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate(-2px, -3px) rotate(-0.5deg);
    }

    40% {
        transform: translate(4px, 3px) rotate(0deg);
    }

    60% {
        transform: translate(-2px, 3px) rotate(-0.5deg);
    }

    80% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    90% {
        transform: translate(2px, 3px) rotate(0.5deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

#unitText {
    color: white;
    position: relative;
    font-size: 50vh;
    z-index: 1000;
}

@font-face {
    font-family: GAME_FONT;
    src: url(fonts/GAME_FONT.woff);
}
